[submodule "user/aosp/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9"]
	path = user/aosp/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
	url = https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
